body{
	background-image : url("../images/background.jpg");
	background-size : cover;
	
}
/*url("../images/background.jpg") ,background-size : cover; ,  url("../images/lion.jpg")*/

.logo{
	display : block;
	margin-left : auto;
	margin-right : auto;
	
}

h2{
	
	font-family : "Times New Roman" , Times , serif;
	font-size : 40px;
	text-align : center;
}

h3{
	
	font-family : "Times New Roman" , Times , serif;
	font-size : 30px;
	text-align : center;
}

hr{
	border-top : 5px solid black;
}

#topnav{
	list-style-type : none;
	background-color : black;
	overflow : hidden;	
}

#topnav li a {
	float : left;
	color : white;
	text-decoration : none;
	display : block;
	text-align : center;
	padding : 16px;
}

#topnav li a:hover {
  background-color: #555;
  color: white;
}

.productdata{
	background-color :  #99a3a4 ;
	margin-top : 15px;
	margin-right : 10px;
	margin-bottom :10px ;
	margin-left : 10px;
	
	border-style : groove;
	border-color : red;
	padding : 3px;
	
}

ul li :firs-letter{
	font-size : 20px;
	font-style : italic;
}
